<template>
	<div id="app">
		<header>
			<h1>The Glory Player</h1>
		</header>
		<main>
			<section class="player">
				<h2 class="song-title">{{current.title}} - <span>{{current.artist}}</span></h2>
				<div class="controls">
					<button class="prev" @click="prev">Prev</button>
					<button class="play" v-if="!isPlaying" @click="play">Play</button>
					<button class="pause" v-else @click="pause">Pause</button>
					<button class="next" @click="next">Next</button>
				</div>
			</section>
			<section class="playlist">
				<h3>The Glory Playlist</h3>
				<button v-for="song in songs" :key="song.src" @click="play(song)" :class="(song.src==current.src) ? 'song playing' : 'song'">
					{{song.title}} - {{ song.artist}}
				</button>
			</section>
		</main>
	</div>
</template>

<script>


export default {
	name: 'App',
	data () {
		return {
			current: {},
			index: 0,
			isPlaying: false,
			songs: [
				{
					id:0,
					title: 'Invitation',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/01Invitation.mp3')
				},
				{
					id:1,
					title: 'Make Me...',
					artist: 'Britney Spears (feat. G-Eazy)',
					src: require('./assets/glory_Britney/02Make_Me.mp3')
				},
				{
					id:2,
					title: 'Private Show',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/03Private_Show.mp3')
				},
				{
					id:3,
					title: 'Man On The Moon',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/04Man_On_The Moon.mp3')
				},
				{
					id:4,
					title: 'Just Luv Me',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/05Just_Luv_Me.mp3')
				},
				{
					id:5,
					title: 'Clumsy',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/06Clumsy.mp3')
				},
				{
					id:6,
					title: 'Do You Wanna Come Over',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/07Do_You_Wanna_Come_Over.mp3')
				},
				{
					id:7,
					title: 'Slumber Party',
					artist: 'Britney Spears (feat. Tinashe)',
					src: require('./assets/glory_Britney/08Slumber_Party.mp3')
				},
				{
					id:8,
					title: 'Just Like Me',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/09Just_Like_Me.mp3')
				},
				{
					id:9,
					title: 'Love Me Down',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/10Love_Me_Down.mp3')
				},
				{
					id:10,
					title: 'Hard To Forget Ya',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/11Hard_To_Forget_Ya.mp3')
				},
				{
					id:11,
					title: 'What You Need',
					artist: 'Britney Spears',
					src: require('./assets/glory_Britney/12What_You_Need.mp3')
				},
			],
			player: new Audio()
		}
	},
	methods: {
		play (song) {
			if (typeof song.src != "undefined"){
				this.current = song;

				this.player.src = song.src;
			}
			this.index = this.current.id;
			this.player.play();
			this.player.addEventListener('ended', function () {
				this.index++;
				if (this.index > this.songs.length - 1) {
					this.index = 0;
				}
				this.current = this.songs[this.index];
				this.play(this.current);
			}.bind(this));
			this.isPlaying = true;
		},
		pause () {
			this.player.pause();
			this.isPlaying = false;
		},
		next () {
			this.index++;
			if (this.index > this.songs.length - 1) {
				this.index = 0;
			}
			this.current = this.songs[this.index];
			this.play(this.current);
		},
		prev () {
			this.index--;
			if (this.index < 0) {
				this.index = this.songs.length - 1;
			}
			this.current = this.songs[this.index];
			this.play(this.current);
		}
	},
	created (){
		this.current = this.songs[this.index];
		this.player.src = this.current.src;
		//this.player.play();
	}
}
</script>

<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-color: #212121;
	color: #FFF;
}
main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 25px;
}
.song-title {
  color: #53565A;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.song-title span {
  font-weight: 400;
  font-style: italic;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.play, .pause {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 25px;
  margin: 0px 15px;
  border-radius: 8px;
  color: #FFF;
  background-color: #CC2E5D;
}
.next, .prev {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 0px 15px;
  border-radius: 6px;
  color: #FFF;
  background-color: #FF5858;
}
.playlist {
  padding: 0px 30px;
}
.playlist h3 {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
.playlist .song {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.playlist .song:hover {
  color: #FF5858;
}
.playlist .song.playing {
  color: #FFF;
  background-image: linear-gradient(to right, #CC2E5D, #FF5858);
}
</style>
